@model string

<div class="text-center payment-container">
    <h3>Tack för ditt köp! Betalningen lyckades.</h3>
    <h5>@Model</h5>
    <h5>Hoppas konserten blir bra! </h5>
    <img src="~/css/konsert.jpeg" alt="konsert" width="600" height="400" />
</div>
