<div class="text-center">
    <form asp-controller="QueNumber" asp-action="Index">
        <h5>Välkommen till sidan för förköp av konsertbiljett till Queens sista konsert i Sverige!<br />Det vill du inte missa!</h5>
        <button class="que-btn">Ta en kölapp</button>
    </form>
</div>
